/*esto es el color de abajo de la página*/
footer{
    background-image: linear-gradient(to right top, #464444, #484646, #494747, #4b4949, #4d4b4b, #5a5757, #676363, #757070, #938c8c, #b1a9a9, #d1c7c7, #f2e6e6);
    color: rgb(12, 12, 12);
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 10px;
    line-height: 10px;
}
.linkredes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.linkredes a{
    color: rgb(7, 7, 7);
    font-size: 50px;
    text-decoration: none;
	transition: transform 0.3s ease-in-out;
	display: inline-block;
    margin-top: 30px;
}
.linkredes a:hover{
    transform: rotate(-30deg);
    color: #ffffff;
}
h3{
    color: #111111;
    font-weight: bold;
}
.footerredes{
    padding-top: 10px;
    margin-top: 20px;
    margin-block-end: 10px;
    align-items: center;
}